.row {
    background-color: #fdfdfd;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s;
}

.row:hover {
    background-color: #f1f1f1;
}

.row td {
    padding: 10px;
    font-size: 14px;
    word-break: break-word;
}

.row td button {
    width: 100%;
}

.rowNO,
.rowDate,
.rowUID,
.rowUsername,
.rowType,
.rowProxy {
    text-align: left;
}

.rowGetname,
.rowReelAndLike,
.rowJoinGroups,
.rowaddFriends,
.rowPostNewFeed,
.rowSellGroup {
    text-align: center;
}


input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.2);
}

input[type="checkbox"]:checked {
    accent-color: #007bff;
}

.rowSelected {
    text-align: center;
}

.rowActions {
    cursor: pointer;
    position: relative;
    text-align: center;
}

.rowActions:hover .actionsMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowActions svg {
    transition: transform 0.3s;
    width: 2rem;
    height: 2rem;
}

.rowActions svg:hover {
    transform: scale(1.1);
}

.rowActions svg:hover path {
    fill: #007bff;
}

.actionsMenu {
    position: absolute;
    display: none;
    z-index: 1000;
    padding: 0.4rem 0.4rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    border-radius: 4px;
    left: 0;
    transform: translateX(50%);
}

.actionItem {
    /* padding: 0.8rem 1rem; */
}

.actionsMenu button {
    all: unset;
}

.actionInfo:hover svg path {
    fill: none;
    stroke: #75E6DA;
}

.actionInfo:hover svg circle {
    fill: none;
    stroke: #75E6DA;
}

.actionEdit:hover svg path {
    fill: none;
    stroke: #18A558;
}

.actionDel:hover svg path {
    fill: none;
    stroke: #FF0000;
}